<header>
  <div class="wrapper header-wrapper">
    <div class="header-navbar">
      <div class="header-logo">
        <a href='/'>
          <img src="img/header/logo.png" alt="logo"/>
        </a>
      </div>  
      <nav class="header-menu">
        <ul class="header-menu__items">
          <li class="header-menu__item">
            <a class="header-menu__link" href="#">Home</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="#">Products</a>
          </li>
          <li class="header-menu__item header-menu__item_no_paddding">
            <a class="header-menu__link header-menu__link_no_hover" href="#">
              <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <section class="header-info">
      <h1 class="header-info__title">Our clothing, your comfort</h1>
      <p class="header-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore <br> magna aliqua.</p>
    </section>
    <div class="header-button">
      <a href="#filter" class="anchor_link">
        <i class="header-button__icon fa fa-chevron-down fa-2x" id="button-down"aria-hidden="true"></i>
      </a>
    </div>
  </div>
</header>
